@mixin horizontal-menu($conf) {
    $orientation: map-get($conf, orientation);
    
    li {
        @if $orientation == 'horizontal' {
            display: block;
        } @else {
            display: inline-block;
        }

        a {
            color: map-get($conf, color);
            font: 300 16px 'Source Sans Pro';
            @if map-has-key($conf, border) {
                border-left: 1px solid map-get($conf, color);
            }
            display: inline-block;
        }
        &.last a {
            @if (map-get($conf, border)) {
                border-right: 1px solid map-get($conf, color);
            }
        }
        & a:hover {
            color: darken(map-get($conf, color), 20%);
        }
    }
}



@mixin squared-button ($color: $buttercup) {
    padding: 3px 10px;
    border-radius: 0;
    background-color: $color;

    font: 600 14px / 24px 'Source Sans Pro';

    @if (lightness($color) > 50) {
        color: #333;
    } @else {
        color: $white;
    }
    -webkit-transition: background-color 0.4s ease;
       -moz-transition: background-color 0.4s ease;
         -o-transition: background-color 0.4s ease;
            transition: background-color 0.4s ease;

    &:after {
        @extend %base-font;
        @extend .icon-arrow-right:before;
        vertical-align: middle;
    }
    &:hover {
        background-color: darken($color, 5);
    }
}



@mixin breadcrumb ($options: ()) {
    // Extending the default arguments with the given object
    $configuration: map-merge((
        innerElement: li,
        linkColor: #999,
        lastChildColor: #000,
    ), $options);

    $innerElement: map-get($configuration, innerElement);
    $linkColor: map-get($configuration, linkColor);
    $lastChildColor: map-get($configuration, lastChildColor);

    ul,
    ol {
        margin: 0;
        padding: 0;
    }
    #{$innerElement} {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding-left: 5px;
        color: $linkColor;
        
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            color: $lastChildColor;
            text-decoration: none;
        }
    }
    a {
        color: $linkColor;
        padding-right: 4px;
        display: inline-block;
        text-transform: lowercase;
        &:hover {
            text-decoration: underline;
        }
    }
    a:first-letter,
    #{$innerElement}:first-letter {
        text-transform: uppercase;
    }

    @media (max-width: 480px) {
        margin: 20px 0;
        color: transparent;

        #{$innerElement} {
            padding: 0;
            width: 100%;
            display: block;
            box-sizing: border-box;
        }
        #{$innerElement} ~ #{$innerElement}:before {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            border-left: 1px solid $linkColor;
            border-bottom: 1px solid $linkColor;
            margin: 0px 6px 2px 0px;
        }
        #{$innerElement} ~ #{$innerElement} {
            padding-left: 10px;
        }
        #{$innerElement} ~ #{$innerElement} ~ #{$innerElement} {
            padding-left: 20px;
        }
        #{$innerElement} ~ #{$innerElement} ~ #{$innerElement} ~ #{$innerElement} {
            padding-left: 30px;
        }
        #{$innerElement} ~ #{$innerElement} ~ #{$innerElement} ~ #{$innerElement} ~ #{$innerElement} {
            padding-left: 40px;
        }
        #{$innerElement} ~ #{$innerElement} ~ #{$innerElement} ~ #{$innerElement} ~ #{$innerElement} ~ #{$innerElement} {
            padding-left: 50px;
        }
    }
}



@mixin icon($icon) {
    // @extend [data-icon]:before;
    font-family: "biaglut-font" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    @extend .#{$icon}:before;
}


// ================================================================
// LAYOUT
// ================================================================
// Mediaqueries:
@mixin dv($device) {
  @if $device == mob {
    @media (max-width: 800px) { @content; }
  }

  @else if $device == tab {
    @media (min-width: 801px) and (max-width: 1023px) { @content; }
  }

  @else if $device == pc {
    @media (min-width: 1024px) { @content; }
  }
}

// Breakpoints:
@mixin bp($key1, $breakpoint, $key2: null, $resolution2: null) {
  @if nth($key1 $breakpoint $key2 $resolution2, 3) == null {
    @media only screen and ($key1: $breakpoint) { @content; }
  }

  @else {
    @media only screen and ($key1: $breakpoint) and ($key2: $resolution2) { @content; }
  }
}

// Clearfix ( http://nicolasgallagher.com/micro-clearfix-hack ):
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
@mixin clearfix {
  &:before, &:after {
    content: " ";   // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// Columns:
@mixin columns(
      $count : 2,
      $gap   : 10px,
      $rule  : 1px,
      $color : #E6E6E6
    ) {
  -webkit-column-count: $count;
     -moz-column-count: $count;
      column-count: $count;

  @if $gap != null {
    -webkit-column-gap: $gap;
       -moz-column-gap: $gap;
        column-gap: $gap;
  }

  @if $rule != null {
    -webkit-column-rule: $rule solid $color;
       -moz-column-rule: $rule solid $color;
        column-rule: $rule solid $color;
  }
}

// Pseudo elements:
@mixin before(
      $left: 0,
      $top: 0
    ) {
  content: "";
  left: $left;
  position: absolute;
  top: $top;
}

@mixin after(
      $right: 0,
      $top: 0
    ) {
  content: "";
  position: absolute;
  right: $right;
  top: $top;
}

// Row with responsive children:
@mixin rows(
      $n,
      $margin-right  : 0,
      $margin-bottom : 0
    ) {
  // display: inline-block;
  // vertical-align: top;
  width: ( (100% - ($n - 1) * $margin-right) ) / $n;

  &:nth-child( n ) {
    margin-right:  $margin-right;
    margin-bottom: $margin-bottom;
  }

  &:nth-child( #{$n}n ) {
    margin-right: 0;
  }
}

// Justify children:
@mixin justify {
  position: relative;
  text-align: justify;

  &:after {
    content: "";
    display: inline-block;
    width: 100%
  }
}

// Center absolute positioned element:
@mixin posab {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

// Ratio:
// @include maintain-ratio(16 9);
@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }

  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
  $width: 100%;

  height: 0;
  overflow: hidden;
  padding-bottom: $height;
  position: relative;
  width: $width;

  iframe, embed, object, video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// RESIZE ANYTHING:
@mixin resizable( $direction ) {
  resize: $direction; // Options: horizontal, vertical, both
  overflow: auto; // Safari fix
}

// ================================================================
// CSS SHAPES
// ================================================================
// CSS pseudo triagles:
@mixin triagle(
    $direction : top,
    $width     : 15px,
    $color     : red
  ) {

  @if $direction == top {
    border-color: $color transparent transparent;
  }

  @if $direction == right {
    border-color: transparent $color transparent transparent;
  }

  @if $direction == bottom {
    border-color: transparent transparent $color;
  }

  @if $direction == left {
    border-color: transparent $color transparent transparent;
  }

  border-style: solid;
  border-width: $width;
  content: "";
  position: absolute;
}

@mixin square( $size : 50px ) {
  height : $size;
  width  : $size;
}

@mixin circle( $size : 50px ) {
  border-radius : 50%;
  height        : $size;
  width         : $size;
}

// ================================================================
// TEXT
// ================================================================
// Font-face:
// @include fontface("Exo2.0-Thin", "Exo2.0-Thin");
@mixin fontface($fontName, $fontFile) {
  @font-face {
    font-family: "#{$fontName}";
    src: url("../fonts/#{$fontFile}.woff") format("woff");
    font-stretch: normal;
    font-style:   normal;
    font-weight:  normal;
  }
}

@mixin fontface-full( $fontName, $fontFile ) {
  @font-face {
    font-family: "#{$fontName}";
    src: url("../fonts/#{$fontFile}.eot");
    src: url("../fonts/#{$fontFile}.eot?#iefix")       format("embedded-opentype"),
       url("../fonts/#{$fontFile}.woff2")            format("woff2"),    // new Chrome
       url("../fonts/#{$fontFile}.svg##{$fontFile}") format("svg"),      // legacy iOS
       url("../fonts/#{$fontFile}.woff")             format("woff"),     // standards
       url("../fonts/#{$fontFile}.ttf")              format("truetype"); // Safari, Android, iOS
    font-stretch: normal;
    font-style:   normal;
    font-weight:  normal;
  }
}

// Font-smooting:
@mixin font-smoothing( $value: anti ) {
  @if $value == anti {
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
  }

  @if $value == none {
    -moz-osx-font-smoothing: auto;
     -webkit-font-smoothing: subpixel-antialiased;
  }
}

// FONT-SIZE EM'S:
@function em($target, $context: 16 ){
  @return ($target / $context) * 1em;
}

// FONT-SIZE REM'S:
@function calculateRem( $size ) {
  $remSize: $size / 16px;

  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem( $size );
}

// LINE-HEIGHT REM'S:
@mixin line-height($heightValue: 12 ){
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (0.125 * $heightValue) + rem;
}

// HIDE TEXT:
@mixin text-hide() {
  color: transparent;
  border: 0;
  font-size: 0;
  text-shadow: none;
}

// USER SELECT
@mixin user-select( $select : none ) {
  -webkit-user-select: $select;
     -moz-user-select: $select;
    -ms-user-select: $select; // IE10+
      user-select: $select;
}

// INPUT PLACEHOLDER:
@mixin placeholder( $color : #888 ) {
  &:-moz-placeholder            { color: $color; } // Firefox 4-18
  &::-moz-placeholder           { color: $color; } // Firefox 19+
  &:-ms-input-placeholder       { color: $color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
}

// ================================================================
// GRADIENTS:
// ================================================================
@mixin grad( $colors... ) {
  background-image: -webkit-linear-gradient(left, $colors);
  background-image:     linear-gradient(to right, $colors);
}

// Horizontal:
@mixin grad-left(
    $startColor : #00B3EE,
    $endColor   : #7A43B6,
    $from       : 0%,
    $to         : 100%,
    $fallback   : false
  ) {

  @if $fallback   == true        { background-color : $startColor; }
  @if $startColor == transparent { $startColor : rgba(250, 250, 250, 0); }
  @if $endColor   == transparent { $endColor   : rgba(250, 250, 250, 0); }

  background-image: -webkit-linear-gradient(left, $startColor $from, $endColor $to);
  background-image:     linear-gradient(to right, $startColor $from, $endColor $to);
  background-repeat: repeat-x;
}

// Horizontal 2-colors:
@mixin grad-left-2(
    $startColor : #00B3EE,
    $endColor   : #C3325F,
    $fallback   : false
  ) {

  @if $fallback   == true        { background-color : $startColor; }
  @if $startColor == transparent { $startColor : rgba(250, 250, 250, 0); }
  @if $endColor   == transparent { $endColor   : rgba(250, 250, 250, 0); }

  background-image: -webkit-linear-gradient(left, $startColor 50%, $endColor 50%);
  background-image:     linear-gradient(to right, $startColor 50%, $endColor 50%);
  background-repeat: no-repeat;
}

// Horizontal 3-colors:
@mixin grad-left-3(
    $startColor : #00B3EE,
    $midColor   : #7A43B6,
    $colorBreak : 50%,
    $endColor   : #C3325F,
    $fallback   : false
  ) {

  @if $fallback   == true        { background-color : $startColor; }
  @if $startColor == transparent { $startColor : rgba(250, 250, 250, 0); }
  @if $endColor   == transparent { $endColor   : rgba(250, 250, 250, 0); }

  background-image: -webkit-linear-gradient(left, $startColor, $midColor $colorBreak, $endColor);
  background-image:     linear-gradient(to right, $startColor, $midColor $colorBreak, $endColor);
  background-repeat: no-repeat;
}

// Vertical:
@mixin grad-top(
    $startColor : #00B3EE,
    $endColor   : #7A43B6,
    $from       : 0%,
    $to         : 100%,
    $fallback   : false
  ) {

  @if $fallback   == true        { background-color : $startColor; }
  @if $startColor == transparent { $startColor : rgba(250, 250, 250, 0); }
  @if $endColor   == transparent { $endColor   : rgba(250, 250, 250, 0); }

  background-image: -webkit-linear-gradient(top, $startColor $from, $endColor $to);
  background-image:   linear-gradient(to bottom, $startColor $from, $endColor $to);
  background-repeat: repeat-y;
}

// Vertical 2-colors:
@mixin grad-top-2(
    $startColor : #00B3EE,
    $endColor   : #C3325F,
    $fallback   : false
  ) {

  @if $fallback   == true        { background-color : $startColor; }
  @if $startColor == transparent { $startColor : rgba(250, 250, 250, 0); }
  @if $endColor   == transparent { $endColor   : rgba(250, 250, 250, 0); }

  background-image: -webkit-linear-gradient(top, $startColor 50%, $endColor 50%);
  background-image:   linear-gradient(to bottom, $startColor 50%, $endColor 50%);
  background-repeat: no-repeat;
}

// Vertical 3-colors:
@mixin grad-top-3(
    $startColor : #00B3EE,
    $midColor   : #7A43B6,
    $endColor   : #C3325F,
    $colorBreak : 50%,
    $fallback   : false
  ) {

  @if $fallback   == true        { background-color : $startColor; }
  @if $startColor == transparent { $startColor : rgba(250, 250, 250, 0); }
  @if $endColor   == transparent { $endColor   : rgba(250, 250, 250, 0); }

  background-image: -webkit-linear-gradient($startColor, $midColor $colorBreak, $endColor);
  background-image:         linear-gradient($startColor, $midColor $colorBreak, $endColor);
  background-repeat: no-repeat;
}

// Directional:
// ex: @include grad-directional;
@mixin grad-directional(
    $deg        : 45deg,
    $startColor : #00B3EE,
    $endColor   : #7A43B6,
    $fallback   : false
  ) {

  @if $fallback   == true        { background-color : $startColor; }
  @if $startColor == transparent { $startColor : rgba(250, 250, 250, 0); }
  @if $endColor   == transparent { $endColor   : rgba(250, 250, 250, 0); }

  background-image: -webkit-linear-gradient($deg, $startColor, $endColor);
  background-image:         linear-gradient($deg, $startColor, $endColor);
  background-repeat: repeat-x;
}

// Radial:
@mixin grad-radial(
    $inner-color: #00B3EE,
    $outer-color: #7A43B6,
    $fallback   : false
  ) {

  @if $startColor == transparent { $startColor : rgba(250, 250, 250, 0); }
  @if $endColor   == transparent { $endColor   : rgba(250, 250, 250, 0); }

  background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
  background-image:         radial-gradient(circle, $inner-color, $outer-color);
  background-repeat: no-repeat;
}

// Striped:
@mixin grad-strip(
    $angle : 45deg,
    $color : rgba(#FFF, 0.15)
  ) {
  background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
  background-image:         linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}

// ================================================================
// TRANSITIONS
// ================================================================
@mixin transition(
    $property : all,
    $time     : 0.3s,
    $method   : ease,
    $delay    : 0
  ) {
  -webkit-transition: $property $time $method $delay;
      transition: $property $time $method $delay;
}

@mixin transitions( $transition... ) {
  -webkit-transition: $transition;
      transition: $transition;
}

// VENDOR-PREFIXED TRANSITIONS:
// @include transition(transform 0.2s ease-in 0.2s, opacity 0.2s ease);
@function prefix( $property, $prefixes: (webkit moz o ms) ) {
  $vendor-prefixed-properties: transform background-clip background-size;

  $result: ();

  @each $prefix in $prefixes {
    @if index($vendor-prefixed-properties, $property) {
      $property: -#{$prefix}-#{$property}
    }

    $result: append( $result, $property );
  }

  @return $result;
}

@function trans-prefix( $transition, $prefix: moz ) {
  $prefixed: ();

  @each $trans in $transition {
    $prop-name: nth($trans, 1);
    $vendor-prop-name: prefix($prop-name, $prefix);
    $prop-vals: nth($trans, 2);
    $prefixed: append($prefixed, ($vendor-prop-name $prop-vals), comma);
  }

  @return $prefixed;
}

@mixin transition( $values... ) {
  $transitions: ();

  @each $declaration in $values {
    $prop: nth( $declaration, 1 );
    $prop-opts: ();
    $length: length( $declaration );

    @for $i from 2 through $length {
      $prop-opts: append( $prop-opts, nth( $declaration, $i ) );
    }

    $trans: ( $prop, $prop-opts );
    $transitions: append( $transitions, $trans, comma );
  }

  -webkit-transition: trans-prefix($transitions, webkit);
      transition: $values;
}

// ================================================================
// TRANSFORMATIONS:
// ================================================================
@mixin transform( $transformation... ) {
  -webkit-transform: $transformation;
    -ms-transform: $transformation; // IE9+
      transform: $transformation;
}

@mixin transforms( $transformations... ) {
  -webkit-transform: $transformations;
    -ms-transform: $transformations; // IE9+
      transform: $transformations;
}

@mixin rotate( $degrees ) {
  -webkit-transform: rotate( $degrees );
    -ms-transform: rotate( $degrees ); // IE9+
      transform: rotate( $degrees );
}

@mixin scale( $ratio ) {
  -webkit-transform: scale( $ratio );
    -ms-transform: scale( $ratio ); // IE9+
      transform: scale( $ratio );
}

@mixin translate(
    $x : 0,
    $y : 0
  ) {
  -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y); // IE9+
      transform: translate($x, $y);
}

@mixin skew($x, $y) {
  -webkit-transform: skew($x, $y);
    -ms-transform: skewX($x) skewY($y); // IE9+
      transform: skew($x, $y);
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
      transform: translate3d($x, $y, $z);
}

@mixin rotateX( $degrees ) {
  -webkit-transform: rotateX( $degrees );
    -ms-transform: rotateX( $degrees ); // IE9+
      transform: rotateX( $degrees );
}

@mixin rotateY( $degrees ) {
  -webkit-transform: rotateY( $degrees );
    -ms-transform: rotateY( $degrees ); // IE9+
      transform: rotateY( $degrees );
}

@mixin perspective( $perspective ) {
  -webkit-perspective: $perspective;
     -moz-perspective: $perspective;
      perspective: $perspective;
}

@mixin perspective-origin( $perspective ) {
  -webkit-perspective-origin: $perspective;
     -moz-perspective-origin: $perspective;
      perspective-origin: $perspective;
}

@mixin transform-origin( $origin ) {
  -webkit-transform-origin: $origin;
     -moz-transform-origin: $origin;
      transform-origin: $origin;
}

// ================================================================
// ANIMATIONS:
// ================================================================
@mixin animation( $name ) {
  -webkit-animation: $name;
      animation: $name;
}

// ANIMATION KETFRAMES:
@mixin keyframes( $name ) {
  @-webkit-keyframes $name {
    @content;
  }

  @keyframes $name {
    @content;
  }
}

// 3D ANIMATIONS WITHOUT BLINKING:
// http://stackoverflow.com/a/10133679
@mixin for3d {
  -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  -webkit-perspective: 1000;
      perspective: 1000;
}

// ================================================================
// RETINA IMAGES
// ================================================================
// @include retina-bg( "../images/sprite.png" );
@mixin retina-bg( $image ) {
  background-image: url( "#{$img}/" + $image + ".png" );

  @media only screen and (-webkit-min-device-pixel-ratio : 2),
       only screen and (min-resolution : 192dpi) {

    background-image: url( "#{$img}/" + $image + "-2x.png" );
  }
}

// @include image-2x("/images/my_image", 200px, 100px);
@mixin image-2x($image, $width, $height) {
  @media only screen and (-webkit-min-device-pixel-ratio : 2),
       only screen and (min-resolution : 192dpi) {

    background-image : url($image);
    background-size  : $width $height;
  }
}

// A helper mixin for applying high-resolution background images (http://www.retinajs.com)
// Submitted by Nathan Crank nathancrank.com
// @include at2x( "/images/my_image", 200px, 100px, png );
@mixin at2x( $path, $width: auto, $height: auto, $ext: "png" ) {
  $at1x_path : "#{$path}.#{$ext}";
  $at2x_path : "#{$path}@2x.#{$ext}";

  background-image : url("#{$at1x_path}");

  @media only screen and (-webkit-min-device-pixel-ratio : 2),
       only screen and (min-resolution : 192dpi) {

    background-image : url("#{$at2x_path}");
    background-size  : $width $height;
  }
}










@mixin reset-styles(){
  margin: 0;
  padding: 0;
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: $image;
    background-size: $width $height;
  }
}



@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}



/*
 * Border Radius
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;

  -webkit-border-top-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
  
  img {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

// Single side border-radius

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}




@mixin blur($blur){
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);

  filter: url(/themes/praisecharts/blur.svg#blur);
}

@mixin background-size($size){
  background-size:$size;
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  -ms-background-size: $size;
}



@mixin box-shadow($left:0, $top:2px, $blur:2px, $color:#000, $inset:"", $spread: 0px, $enabled: true) {

  
    @if ($enabled == true) {
      -webkit-box-shadow:$left $top $blur $spread $color #{$inset};
      -moz-box-shadow:$left $top $blur $spread $color #{$inset};
      box-shadow:$left $top $blur $spread $color #{$inset};
    }

    @if ($enabled == false) {
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
   }
}

/*
    -webkit-box-shadow: none;
    -moz-box-shadow: 0 0 2px 0px #fff inset;
    box-shadow: 0 0 2px 0px #fff inset;   
*/




@mixin cssTriangle($triangleSize, $triangleColor, $triangleDirection, $inset: solid) {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: $inset $triangleSize;
    @if ($triangleDirection == top) {
      border-color: $triangleColor transparent transparent transparent;
    }
    @if ($triangleDirection == bottom) {
      border-color: transparent transparent $triangleColor transparent;
    }
    @if ($triangleDirection == left) {
      border-color: transparent transparent transparent $triangleColor;
    }
    @if ($triangleDirection == right) {
      border-color: transparent $triangleColor transparent transparent;
    }
    // .example { @include css-triangle(5px, #fff, bottom); }
}






$contentsWidth: 1000px;
$hoverOpacity: .7 !important;
$bred: #ff0000 1px solid;
$bblue: #0000ff 1px solid;
$bgreen: #00ff00 1px solid;

/** base font size 13px */
$fontSizeList: 62%, 70%, 77%, 85%, 93%, 100%, 108%, 116%, 124%, 131%, 139%, 147%, 154%, 162%, 170%, 177%, 185%, 193%, 200%, 208%, 216%, 224%, 231%, 239%, 247%, 254%, 262%, 270%, 277%, 285%, 293%, 300%, 308%;

//指定したフォントサイズに該当する%を返す関数
// @param $size fontサイズ
// @return 
@function fontSize($size) {
  @if $size < 8 {
    $size: 8;
  }
  @if $size > 40 {
    $size: 40;
  }
  @return nth($fontSizeList, $size - 7);
}

/** colors */
$textColor: #000;
$baseDark: #ccc1ad;
$baseLite: #ebe4d8;
$linkRed: #9d1111;
$linkBlue: #3996cc;
$textRed: #590c0c;
$textBlack: #1e1308;
$textPlaceholder: #82735a;

@mixin ease-out-quint($ms) {
  -webkit-transition: all $ms + ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
  -moz-transition: all $ms +  ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
  -ms-transition: all $ms +  ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
  -o-transition: all $ms +  ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
  transition: all $ms + ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
}

@mixin ease-out-back($ms) {
  -webkit-transition: all $ms + ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
  -webkit-transition: all $ms + ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
  -moz-transition: all $ms + ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
  -ms-transition: all $ms + ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
  -o-transition: all $ms + ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
  transition: all $ms + ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

@mixin ease-out-expo($ms) {
  -webkit-transition: all $ms + ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  -moz-transition: all $ms + ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  -ms-transition: all $ms + ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  -o-transition: all $ms + ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  transition: all $ms + ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

@mixin vertical-align-middle {
  display: table-cell;
  vertical-align: middle;
}

@mixin hover($spd) {
  @include ease-out-quint($spd);
  &:hover {
    opacity: $hoverOpacity;
  }
}

@mixin border-radius($w) {
  -webkit-border-radius: $w + px;
  -moz-border-radius: $w + px;
  border-radius: $w + px;
}

@mixin placeholder-color($color) {
     &:-moz-placeholder {
         color: $color;
     }
     &::-webkit-input-placeholder {
         color: $color;
     }
 }

 @mixin unselectable() {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

 @mixin scale($scale) {
  transform: scale($scale);
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
 }

@mixin inlineBlock() {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@mixin spacergif() {
  background: url('data:image/gif;base64,R0lGODlhZAAUAIAAAAD//wAAACH5BAEAAAAALAAAAABkABQAAAIshI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKZwUAOw==') repeat 0 0;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin place($x: "center", $y: "center") {
  @if $x == "center" and $y == "center" {
    @include center();
  } @else {
    position: absolute;

    @if $x == "left" {
      left: 0;
    } @else if $x == "center" {
      left: 50%;
      transform: translateX(-50%);
    } @else if $x == "right" {
      right: 0;
    }

    @if $y == "top" {
      top: 0;
    } @else if $y == "center" {
      top: 50%;
      transform: translateY(-50%);
    } @else if $y == "bottom" {
      bottom: 0;
    }
  }
}